:root {
  font-size: 1em;
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  background-color: #eee;
  font-family: Helvetica, Arial, sans-serif;
}

/* "lobotomized owl" selector */
body * + * {
  margin-top: 1.5em;
}

header {
  padding: 0.3em 1em;
  color: #fff;
  background-color: #0072b0;
  border-radius: 0.5em;

}

.wrapper {
/* This wrapper isn't needed for flex - but we'll keep it to be consistent */
}

/* Use flexbox to make equal height panel/columns */
.container {
  display: flex;
}

main {
  display: block;
}

.main {
  width: 70%;
  padding: 1em 1.5em;
  background-color: #fff;
  border-radius: .5em;
}

.sidebar {
  width: 30%;
  margin-top: 0;
  margin-left: 1.5em;
  padding: 1.5em;
  background-color: #fff;
  border-radius: .5em;
}

.button-link {
  display: block;
  padding: 0.5em;
  color: #fff;
  background-color: #0090c9;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.sponsor-link {
  display: block;
  color: #0072b0;
  font-weight: bold;
  text-decoration: none;
}