:root {
  font-size: 1em;
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  background-color: #eee;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  color: #fff;
  background-color: #0072b0;
  border-radius: 0.5em;

}

/* Use negative margin to make panels line up with header */
.wrapper {
  margin-left: -1.5em;
  margin-right: -1.5em;
}

/* Use table to make equal height panel/columns */
/* border spacing is used to create "gutter" between panels */
.container {
  display: table;
  width: 100%;
  border-spacing: 1.5em 0;
}

main {
  display: block;
}

.main {
  display: table-cell;
  width: 70%;
  background-color: #fff;
  border-radius: .5em;
}

.sidebar {
  display: table-cell;
  width: 30%;
  margin-left: 1.5em;
  padding: 1.5em;
  background-color: #fff;
  border-radius: .5em;
}