html {
  box-sizing: border-box;
  color: #212529; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.4;
  background-color: #f8f9fa; }

h1, h2, h3, h4 {
  font-family: Georgia, serif; }

a {
  color: #20c997; }
  a:visited {
    color: #076448; }
  a:hover {
    color: #076448; }

/*# sourceMappingURL=styles.css.map */