:root {
  font-size: 1em; /* 16px */
}

@media (min-width: 800px) {
  :root {
    font-size:1.125em;
  }
}

@media (min-width: 1200px) {
  :root {
    font-size: 1.250em;
  }
}

body {
  font-family: Helvetica, Arial,sans-serif;
}

h1 {
  color: #2f4f4f;
  font-weight: bold;
}

.title {
  font: normal bold 2em Helvetica, Arial, sans-serif;
}

.nav {
  margin-top: 0.625em;
  list-style: none;
  padding-left: 0;
}

.nav li {
  display: inline-block;
}

.nav a {
  color: white;
  background-color: #13a4a4;
  padding: 0.33em 1em;
  border-radius: 0.33em;
  text-decoration: none;
}

.nav .featured {
  background-color: orange;
}

a:link {
  color: blue;
}

.panel {
  font-size: 1rem;
  margin-bottom: 0.75em;
  padding: 1em;
  border-radius: 0.5em;
  border: 1px solid #999;
}

.panel > h2 {
  margin-top: 0;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}

.panel.large {
  font-size: 1.2em;

}

.footer {
  color: #666;
  background-color: #ccc;
  margin-top: 1em;
  padding: 1em 0;
  text-align: center;
  font-size: 0.8rem;
}

.footer a {
  color: inherit;
  text-decoration: underline;
}

