html {
  box-sizing: border-box;
  color: $text-color;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.4;
  background-color: $extra-light-gray;
}

h1, h2, h3, h4 {
  font-family: Georgia, serif;
}

a {
  color: $medium-greeen;
  &:visited {
    color: $brand-green;
  }
  &:hover {
    color: $brand-green
  }
  &:active {

  }
}
