:root {
  font-size: 1em;
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  background-color: #eee;
  font-family: Helvetica, Arial, sans-serif;
}

/* "lobotomized owl" selector */
body * + * {
  margin-top: 1.5em;
}

main {
  display: block;
}

header {
  padding: 0.3em 1em;
  color: #fff;
  background-color: #0072b0;
  border-radius: 0.5em;
}

/* Styles for top section - use flexbox */
.container {
  display: flex;
}

.top {
  flex: 2.5;
  padding: 0.5em 1em;
  background-color: #fff;
  border-radius: .5em;
}

.sidebar {
  flex: 1;
  margin-top: 0;
  margin-left: 1.5em;
  padding: 1.5em;
  background-color: #fff;
  border-radius: .5em;
}

/* Styles for middle section - use flexbox */

h2.heading {
  padding-top: 1em;
}

.middle {
  padding: 0 1em;
  background-color: #fff;
  border-radius: 0.5em;
}

.content  > .row {
  display: flex;
}

.content > .row > .media {
  flex: 1
}

.media + .media {
  margin-top: 0;
  margin-left: 1.5em;
}

.media {
  display: flex;
  align-items: flex-start;
  padding: 0.5em 1em;
  background-color:#eee;
  border-radius: 0.5em;
}

.media-image {
  flex: 0;
  margin-right: 1em;
}

.media-body {
  flex: 1;
  margin-top: -1em;
}

.row + .row {
  padding-bottom: 1.5em;
}

